Data/game/data/xsd/BeautyShopData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="groupType">
		<xs:sequence>
			<xs:element type="styleType" name="style" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="styleType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="groupType" name="group" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="colorType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="id" use="optional"/>
				<xs:attribute type="xs:string" name="price" use="optional"/>
				<xs:attribute type="xs:string" name="ownCoin" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="styleType" mixed="true">
		<xs:sequence>
			<xs:element type="colorType" name="color" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" use="optional"/>
		<xs:attribute type="xs:string" name="cost" use="optional"/>
		<xs:attribute type="xs:string" name="resetCost" use="optional"/>
		<xs:attribute type="xs:string" name="val" use="optional"/>
		<xs:attribute type="xs:string" name="ownCoin" use="optional"/>
	</xs:complexType>
</xs:schema>