Data/game/data/xsd/CursedWeaponsData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="stageKillsType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:integer" name="val" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="durationLostType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="val" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element type="disapearChanceType" name="disapearChance"/>
			<xs:element type="dropRateType" name="dropRate"/>
			<xs:element type="durationType" name="duration"/>
			<xs:element type="durationLostType" name="durationLost"/>
			<xs:element type="stageKillsType" name="stageKills"/>
		</xs:sequence>
		<xs:attribute type="xs:integer" name="id" use="optional"/>
		<xs:attribute type="xs:string" name="name" use="optional"/>
		<xs:attribute type="xs:integer" name="skillId" use="optional"/>
	</xs:complexType>
	<xs:complexType name="disapearChanceType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:integer" name="val" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="durationType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:integer" name="val" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="dropRateType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:double" name="val" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>