Data/game/data/xsd/dualClassSkillTree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="skillTreeType" name="skillTree"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="itemType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="id" use="optional"/>
				<xs:attribute type="xs:string" name="count" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="skillType">
		<xs:sequence>
			<xs:element type="subClassConditionsType" name="subClassConditions" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="itemType" name="item"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="name" use="optional"/>
		<xs:attribute type="xs:string" name="skillId" use="optional"/>
		<xs:attribute type="xs:string" name="skillLvl" use="optional"/>
		<xs:attribute type="xs:string" name="minLevel" use="optional"/>
	</xs:complexType>
	<xs:complexType name="subClassConditionsType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="slot" use="optional"/>
				<xs:attribute type="xs:string" name="lvl" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="skillTreeType">
		<xs:sequence>
			<xs:element type="skillType" name="skill" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="type"/>
	</xs:complexType>
</xs:schema>