Data/game/data/xsd/DynamicSpawn.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="spawns" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="spawn" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:integer" name="npcId" use="optional" />
											<xs:attribute type="xs:integer" name="x" use="required" />
											<xs:attribute type="xs:integer" name="y" use="required" />
											<xs:attribute type="xs:integer" name="z" use="required" />
											<xs:attribute type="xs:integer" name="heading" use="optional" />
											<xs:attribute type="xs:integer" name="delay" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="name" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>