Data/game/data/xsd/FortSpawnList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="fortType" name="fort" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="npcType">
		<xs:sequence>
			<xs:element type="spawnType" name="spawn" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" use="optional"/>
		<xs:attribute type="xs:string" name="facilityType" use="optional"/>
		<xs:attribute type="xs:string" name="facilityLevel" use="optional"/>
		<xs:attribute type="xs:string" name="castleId" use="optional"/>
	</xs:complexType>
	<xs:complexType name="spawnTypeType">
		<xs:sequence>
			<xs:element type="npcType" name="npc" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="type" use="optional"/>
	</xs:complexType>
	<xs:complexType name="fortType">
		<xs:sequence>
			<xs:element type="spawnTypeType" name="spawnType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" use="optional"/>
	</xs:complexType>
	<xs:complexType name="spawnType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="x" use="optional"/>
				<xs:attribute type="xs:string" name="y" use="optional"/>
				<xs:attribute type="xs:string" name="z" use="optional"/>
				<xs:attribute type="xs:string" name="heading" use="optional"/>
				<xs:attribute type="xs:string" name="respawnDelay" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>