Data/game/data/xsd/HennasData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="dyeType" name="dye" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dyeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:integer" name="symbol_id" use="optional"/>
				<xs:attribute type="xs:string" name="name" use="optional"/>
				<xs:attribute type="xs:integer" name="dye_id" use="optional"/>
				<xs:attribute type="xs:integer" name="count" use="optional"/>
				<xs:attribute type="xs:integer" name="price" use="optional"/>
				<xs:attribute type="xs:integer" name="INT" use="optional"/>
				<xs:attribute type="xs:integer" name="STR" use="optional"/>
				<xs:attribute type="xs:integer" name="CON" use="optional"/>
				<xs:attribute type="xs:integer" name="MEN" use="optional"/>
				<xs:attribute type="xs:integer" name="DEX" use="optional"/>
				<xs:attribute type="xs:integer" name="WIT" use="optional"/>
                <xs:attribute type="xs:integer" name="LUC" use="optional"/>
                <xs:attribute type="xs:integer" name="CHA" use="optional"/>
				<xs:attribute type="xs:string" name="attributeSkillId" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>