Data/game/data/xsd/HerbDropData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="HerbDropType" name="HerbDrop" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HerbDropType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="groupId" use="optional"/>
				<xs:attribute type="xs:string" name="itemId" use="optional"/>
				<xs:attribute type="xs:string" name="min" use="optional"/>
				<xs:attribute type="xs:string" name="max" use="optional"/>
				<xs:attribute type="xs:string" name="category" use="optional"/>
				<xs:attribute type="xs:string" name="chance" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>