Data/game/data/xsd/ItemPrice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="set" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute type="xs:integer" name="itemId" use="required"/>
						<xs:attribute type="xs:integer" name="price" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>