Data/game/data/xsd/multisell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="ingredientType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="count" use="optional"/>
				<xs:attribute type="xs:string" name="id" use="optional"/>
				<xs:attribute type="xs:string" name="enchant" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="configType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="showall"/>
				<xs:attribute type="xs:string" name="notax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:sequence>
		<xs:element type="configType" name="config" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="taxFree"/>
		<xs:attribute type="xs:string" name="showAll"/>
		<xs:attribute type="xs:string" name="keepEnchant"/>
		<xs:attribute type="xs:string" name="allowAugmentedItems"/>
		<xs:attribute type="xs:string" name="allowElementalItems"/>
		<xs:attribute type="xs:string" name="chanceBuy"/>
		<xs:attribute type="xs:string" name="npcCheck"/>
	</xs:complexType>
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element type="ingredientType" name="ingredient" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="productionType" name="production" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" use="optional"/>
	</xs:complexType>
	<xs:complexType name="productionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="count" use="optional"/>
				<xs:attribute type="xs:string" name="id" use="optional"/>
		<xs:attribute type="xs:string" name="chance" use="optional"/>
		<xs:attribute type="xs:string" name="enchant" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>