Data/game/data/xsd/RaidRadarTable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="radarGroup" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="radar">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:string" name="id" use="optional"/>
					<xs:attribute type="xs:string" name="fString" use="optional"/>
					<xs:attribute type="xs:string" name="x" use="optional"/>
					<xs:attribute type="xs:string" name="y" use="optional"/>
					<xs:attribute type="xs:string" name="z" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="radarGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="radar" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="id" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>