Data/game/data/xsd/RecipeData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="ingredientType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:integer" name="id" use="optional"/>
				<xs:attribute type="xs:integer" name="count" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element type="ingredientType" name="ingredient" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="productionType" name="production" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:integer" name="id" use="optional"/>
		<xs:attribute type="xs:integer" name="recipeId" use="optional"/>
		<xs:attribute type="xs:string" name="name" use="optional"/>
		<xs:attribute type="xs:integer" name="mpConsume" use="optional"/>
		<xs:attribute type="xs:integer" name="craftLevel" use="optional"/>
		<xs:attribute type="xs:string" name="type" use="optional"/>
		<xs:attribute type="xs:integer" name="successRate" use="optional"/>
	</xs:complexType>
	<xs:complexType name="productionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:integer" name="id" use="optional"/>
				<xs:attribute type="xs:integer" name="count" use="optional"/>
				<xs:attribute type="xs:integer" name="chance" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>