Data/game/data/xsd/ResidenceFunctionData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="decoType" name="function" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="decoType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="id" use="required"/>
				<xs:attribute type="xs:string" name="name" use="required"/>
				<xs:attribute type="xs:string" name="type" use="required"/>
				<xs:attribute type="xs:string" name="level" use="required"/>
				<xs:attribute type="xs:string" name="depth" use="required"/>
				<xs:attribute type="xs:string" name="funcValue" use="optional"/>
				<xs:attribute type="xs:string" name="days" use="required"/>
				<xs:attribute type="xs:string" name="adena" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>