Data/game/data/xsd/StatuesSpawnData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="statues" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded" minOccurs="0">
							<xs:element name="spawn">
								<xs:complexType>
									<xs:attribute name="loc" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:integer" name="type" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>