Data/game/data/xsd/SummonPointsData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="table" type="tableType">
	</xs:element>
	<xs:complexType name="tableType">
		<xs:sequence>
			<xs:element type="summonIdType" name="summonId" maxOccurs="unbounded" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="summonIdType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="id" use="optional"/>
				<xs:attribute type="xs:string" name="points" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>