Data/game/data/xsd/zones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="raceType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" use="optional"/>
				<xs:attribute type="xs:string" name="point" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
 	</xs:complexType>
	<xs:complexType name="zoneType">
		<xs:sequence>
			<xs:element type="statType" name="stat" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="nodeType" name="node" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element type="spawnType" name="spawn" maxOccurs="unbounded" minOccurs="0"/>
		<xs:element type="raceType" name="race" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="name" use="optional"/>
	<xs:attribute type="xs:string" name="id" use="optional"/>
		<xs:attribute type="xs:string" name="type" use="optional"/>
		<xs:attribute type="xs:string" name="shape" use="optional"/>
		<xs:attribute type="xs:string" name="minZ" use="optional"/>
		<xs:attribute type="xs:string" name="maxZ" use="optional"/>
	<xs:attribute type="xs:string" name="rad" use="optional"/>
	</xs:complexType>
	<xs:complexType name="statType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" use="optional"/>
				<xs:attribute type="xs:string" name="val" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="zoneType" name="zone" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="enabled"/>
	</xs:complexType>
	<xs:complexType name="spawnType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="X" use="optional"/>
				<xs:attribute type="xs:string" name="Y" use="optional"/>
				<xs:attribute type="xs:string" name="Z" use="optional"/>
				<xs:attribute type="xs:string" name="type" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="nodeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="X" use="optional"/>
				<xs:attribute type="xs:string" name="Y" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>